.random-planet {
    border-radius: 5px;
    margin: 55px;
    width: 70%;
    height: 290px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: #0d1113;
    border: #384e4c solid;
}

.bolder {
    font-weight: bolder;
    color: #c6fff8;
}

.random-planet img {
    width: 250px;
    margin-right: 30px;
    border-radius: 5px;

}

.random-planet li{
    font-size: 25px;
}