.person-details {
    border-radius: 5px;
    margin: 55px;
    width: 40%;
    height: 350px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: #0d1113;
}

.person-details img {
    width: 150px;
    margin-right: 30px;

}

.person-details li{
    font-size: 25px;
}

.person-details h4{
    margin-bottom: 25px;
}